.home-hero {
  display: flex;
  height: 75vh;

  &__content {
    width: 50%;
    padding-top: 50px;

    &__title {
      font-size: 50px;
      letter-spacing: 3px;
      line-height: 70px;
      margin-bottom: 15px;
    }

    &__description {
      font-size: 20px;
      letter-spacing: 1px;
      line-height: 30px;
      margin-bottom: 15px;
    }
  }

  &__model {
    width: 50%;
  }
}

@media only screen and (max-width: 900px) {
  .home-hero {
    flex-direction: column !important;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 50px;
    height: auto;

    &__content {
      width: 100%;

      &__title {
        text-align: center;
        font-size: 30px;
        line-height: 40px;
      }

      &__description {
        text-align: center;
        font-size: 18px;
      }
    }

    &__model {
      width: 75%;
    }
  }
}

@media only screen and (max-width: 400px) {
  .home-hero {
    &__content {
      padding: 3px;
      padding-top: 50px;

      &__title {
        font-size: 25px;
        line-height: 30px;
      }

      &__description {
        font-size: 16px;
      }
    }

    &__model {
      margin-top: 10px;
    }
  }
}