* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea,
select {
  cursor: pointer;
}

body {
  background-color: rgb(52, 52, 52);
  color: white;
  &::-webkit-scrollbar {
    display: none;
  }
}

.main {
  &::-webkit-scrollbar {
    display: none;
  }
}

ul {
  list-style-type: none;
}

main {
  padding: 25px  50px;
}

@media only screen and (max-width: 900px) {
  main {
      padding: 12.5px 15px;
    }
}
