.today-item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  width: 25%;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;

  &:hover > &__circle-effect {
    width: 120%;
    border-radius: 76% 24% 14% 86% / 73% 42% 58% 27%;
  }

  &__circle-effect {
    border-radius: 100%;
    background-color:red;
    width: 100%;
    height: 75%;
    position: absolute;
    top: -100px;
    right: -200px;
    transition: all 1s;
  }
}
