.today-item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  width: 25%;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 400px;

  &:hover > &__circle-effect {
    width: 120%;
    border-radius: 76% 24% 14% 86% / 73% 42% 58% 27%;
  }

  &:hover > &__info {
    height: 20%;
    opacity: 1;
  }

  &__circle-effect {
    border-radius: 100%;
    background-color:red;
    width: 100%;
    height: 75%;
    position: absolute;
    top: -100px;
    right: -200px;
    transition: all 1s;
    z-index: 0;
  }

  &__img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    z-index: 1;
  }

  &__title {
    margin-top: 10px;
    font-size: 30px;
    font-weight: bolder;
    width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
  }

  &__brand {
    font-weight: 100;
    font-size: 20px;
    text-align: center;

  }

  &__info {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    height: 0;
    opacity: 0;
    transition: all 1s;

    &__price {
      font-size: 30px;
      font-weight: bolder;
    }

    &__add-cart {
      padding: 4px;

      &__next {
        color: white;
        font-size: 20px;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .today-item {
    min-width: 250px;

    &__circle-effect {
      top: -75px;
      right: -150px;
    }

    &__img {
      height: 40%;
    }

    &__title {
      width: 200px;
    }
  }
}
