.collection-item {
  width: 30%;
  height: 150px;
  display: flex;
  gap: 20px;
  background-color: black; 

  &__img-bg {
    background-color: red;
    width: 150px;
    height: 150px;
    
    &__image {
      width: 90%;
      height: 90%;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__discover {
    width: auto;
    margin-left: auto;
    margin-right: 5px;
    padding: 7px 10px;
    font-weight: bold;
    }
}